
var/cache/

var/sessions/

var/logs/

vendor/

web/images/activity_img/

composer.phar

app/config/parameters.yml

web/media/cache/my_big_photo/images/activity_img/

web/media/cache/my_med_photo/images/activity_img/

web/media/cache/my_med_photo/images/

web/media/cache/my_thumb/images/activity_img/

web/monedas.php

web/task.php
