{# Pagina Index #}
{% extends 'base.html.twig' %}

{# Usamos un theme para los formularios #}
{#{% form_theme form 'form/base_form.html.twig' %}#}

{# TITULO #}
{% block title %}La Polifacética Registro{% endblock %}

{# BODY #}
{% block body %}
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">Acceso <small>para usuarios</small></h1>

        <!-- Portfolio Item Row -->
        <div class="row">
            <div class="col-lg-6">

                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form action="{{ path('acceso') }}" method="post">
                    <div class="control-group form-group">
                        <div class="controls">
                            <label for="username">Usuario:</label>
                            <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}"/>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                        <label for="password">Password:</label>
                        <input class="form-control" type="password" id="password" name="_password"/>
                        </div>
                    </div>

                    {#
                        If you want to control the URL the user
                        is redirected to on success (more details below)
                        <input type="hidden" name="_target_path" value="/account"/>
                    #}

                    <button class="btn btn-primary" type="submit">login</button>
                </form>
            </div>
            <div class="col-lg-6">
                <h2>Instrucciones</h2>
                Introduce tu email y tu password para poder acceder a tu área privada. Te recordamos que el acceso es sólo para socios de La Polifacética</p>
                En caso de no estar registrado, puedes hacer en la sección <a class="" href="{{ path('registro') }}">Registro</a>. Los administradores de cada asociación serán los responsables de aprobar o denegar a los nuevos usuarios.</p>
            </div>
        </div>
        <!-- /.row -->
    </div>

{% endblock %}

{# CSS #}
{% block stylesheets %}
    {#<style>
        body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    </style>#}
{% endblock %}




