{# Pagina Nueva Categoria #}
{% extends 'administracion/base_admin.html.twig' %}

{# TITULO #}
{% block title %}Administracion Lista Actividades{% endblock %}

{# TITULO BODY#}
{% block bodytitle %}Listado de Actividades{% endblock %}

{# CONTENT #}
{% block content %}

    {% if actividades is defined and actividades is not empty %}
        <div class="divTable">
            <div class="divTableHeading">
                <div class="divTableRow">
                    <div class="divTableHead width30">Nombre</div>
                    <div class="divTableHead">Descripción Corta</div>
                    <div class="divTableHead center">Acción</div>
                </div>
            </div>
            <div class="divTableBody">
                {% for actividad in actividades %}
                    <div class="divTableRow">
                        <div class="divTableCell width30">{{ actividad.activityName }}</div>
                        <div class="divTableCell">{{ actividad.shortDescription | raw }}</div>
                        <div class="divTableCell center">
                            {% if actividad.id in can_edit %}
                            <button class="btn btn-primary"><a class="" href="{{ path('editActividad', {'id':actividad.id}) }}">Edita</a></button>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- DivTable.com -->
    {% endif %}
    <button class="btn btn-primary"><a class="" href="{{ path('nuevaActividad') }}">Nueva Actividad</a></button>
{% endblock %}



