{# Pagina Nueva Categoria #}
{% extends 'administracion/base_admin.html.twig' %}

{# TITULO #}
{% block title %}Administracion Lista Asociaciones{% endblock %}

{# TITULO BODY#}
{% block bodytitle %}Listado de Asociaciones{% endblock %}

{# CONTENT #}
{% block content %}

    {% if asociaciones is defined and asociaciones is not empty %}
        <div class="divTable">
            <div class="divTableHeading">
                <div class="divTableRow">
                    <div class="divTableHead width30">Nombre Asociaci贸n</div>
                    <div class="divTableHead">Descripci贸n Corta</div>
                    <div class="divTableHead center">Acci贸n</div>
                </div>
            </div>
            <div class="divTableBody">
                {% for asociacion in asociaciones %}
                    <div class="divTableRow">
                        <div class="divTableCell width30">{{ asociacion.name }}</div>
                        <div class="divTableCell">{{ asociacion.shortDescription | raw }}</div>
                        <div class="divTableCell center">
                            {#{% if asociacion.id in can_edit %}#}
                            <button class="btn btn-primary"><a class="" href="{{ path('editAsociacion', {'id':asociacion.id}) }}">Edita</a></button>
                            {#{% endif %}#}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- DivTable.com -->
    {% endif %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <button class="btn btn-primary"><a class="" href="{{ path('nuevaAsociacion') }}">Nueva Asociaci贸n</a></button>
    {% endif %}

{% endblock %}



